<a href="https://colab.research.google.com/github/AkhilSai13/Automated-Stock-Trading-Bot/blob/main/Algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.11-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 3.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 10.6 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.1-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 47.9 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 11.1 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.4 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 14.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.1 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.4 yfinance-0.2.11

In [ ]:
import pandas as pd
import yfinance as yf

symbol_list = ["ADANIENT.NS", "ADANIPORTS.NS", "APOLLOHOSP.NS", "ASIANPAINT.NS", "AXISBANK.NS", "BAJAJ-AUTO.NS", "BAJAJFINSV.NS", "BHARTIARTL.NS", "BPCL.NS", "BRITANNIA.NS", "CIPLA.NS", "COALINDIA.NS", "DIVISLAB.NS", "DRREDDY.NS", "EICHERMOT.NS", "GRASIM.NS", "HCLTECH.NS", "HDFC.NS", "HDFCBANK.NS", "HDFCLIFE.NS", "HEROMOTOCO.NS", "HINDALCO.NS", "HINDUNILVR.NS", "ICICIBANK.NS", "INDUSINDBK.NS", "INFY.NS", "ITC.NS", "JSWSTEEL.NS", "KOTAKBANK.NS", "LT.NS", "M&M.NS", "NTPC.NS", "ONGC.NS", "POWERGRID.NS", "RELIANCE.NS", "SBILIFE.NS", "SBIN.NS", "SUNPHARMA.NS", "TATACONSUM.NS", "TATAMOTORS.NS", "TATASTEEL.NS", "TCS.NS", "TECHM.NS", "TITAN.NS", "UPL.NS", "WIPRO.NS"]
stock_names = ["Adani Enterprises Ltd.", "Adani Ports and Special Economic Zone Ltd.", "Apollo Hospitals Enterprise Ltd.", "Asian Paints Ltd.", "Axis Bank Ltd.", "Bajaj Auto Ltd.", "Bajaj Finserv Ltd.", "Bharat Petroleum Corporation Ltd.", "Bharti Airtel Ltd.", "Britannia Industries Ltd.", "Cipla Ltd.", "Coal India Ltd.", "Divi's Laboratories Ltd.", "Dr. Reddy's Laboratories Ltd.", "Eicher Motors Ltd.", "Grasim Industries Ltd.", "HCL Technologies Ltd.", "Housing Development Finance Corporation Ltd.", "HDFC Bank Ltd.", "HDFC Life Insurance Company Ltd.", "Hero MotoCorp Ltd.", "Hindalco Industries Ltd.", "Hindustan Unilever Ltd.", "ICICI Bank Ltd.", "IndusInd Bank Ltd.", "Infosys Ltd.", "ITC Ltd.", "JSW Steel Ltd.", "Kotak Mahindra Bank Ltd.", "Larsen & Toubro Ltd.", "Mahindra & Mahindra Ltd.", "NTPC Ltd.", "Oil & Natural Gas Corporation Ltd.", "Power Grid Corporation of India Ltd.", "Reliance Industries Ltd.", "SBI Life Insurance Company Ltd.", "State Bank of India", "Sun Pharmaceutical Industries Ltd.", "Tata Consumer Products Ltd.", "Tata Motors Ltd.", "Tata Steel Ltd.", "Tata Consultancy Services Ltd.", "Tech Mahindra Ltd.", "Titan Company Ltd.", "UPL Ltd.", "Wipro Ltd."]

year = ['2019-12-02', '2023-01-30']

li = []

stk_names = []
entry_dt = []
entry_price = []
exit_dt = []
exit1 = []
exit2 = [] 
exit3 = []
pro_li = []

for j in range(len(year)-1):
    #profit_final = []
    for k in range(len(symbol_list)):
        symbol = symbol_list[k]
        try:  
            df = yf.download(symbol, start = year[j], end = year[j+1], interval = '1wk', rounding = True)

            df = df.dropna()
            df = df.reset_index()

            # For buy then sell
            status = 0
            quantity = 0
            profit = 0
            Entry = 0
            t1 = 0
            t2 = 0
            Fixed_Sl = 0
            Trailing_Sl = 0
            sl = 0
            t1_status = 0
            t2_status = 0
            date=""
            e1 = 0
            e2 = 0
            e3 = 0
            cp = 0

            for i in range(2, len(df)):
                #For Buy then Sell
                if (status == 0):
                    Entry = max(df['High'][i-2], df['High'][i-1])
                    t1 = round(Entry * 1.03, 2)
                    t2 = round(Entry * 1.06, 2)
                    chigh = df['High'][i]
                    Fixed_Sl = round(Entry * 0.97, 2)
                    Trailing_Sl = min(df['Low'][i-2], df['Low'][i-1])
                    sl = max(Fixed_Sl, Trailing_Sl)
                    if (chigh > Entry):
                        status = 1
                        date = df['Date'][i]
                        quantity = 1
                        stk_names.append(stock_names[k])
                        entry_dt.append(df['Date'][i])
                        entry_price.append(Entry)
                if status == 1:
                    Fixed_Sl = round(Entry * 0.97, 2)
                    chigh = df['High'][i]
                    Trailing_Sl = min(df['Low'][i-2], df['Low'][i-1])
                    sl = max(Fixed_Sl, Trailing_Sl)
                    if chigh > t1 and t1_status == 0:
                        exited_quantity = 0.33
                        cp += 3 * exited_quantity
                        #profit += 3 * exited_quantity
                        quantity =  quantity - exited_quantity 
                        t1_status = 1
                        e1 = t1
                    if chigh > t2 and t2_status == 0:
                        exited_quantity = quantity * 0.5
                        cp += 6 * exited_quantity
                        #profit += 6 * exited_quantity
                        quantity =  quantity - exited_quantity
                        t2_status = 1
                        e2 = t2
                    if df['Low'][i] < sl and df['Date'][i] != date:
                        cp += round((sl - Entry)*100/Entry*quantity,2)
                        #profit += round((sl - Entry)*100/Entry*quantity,2)
                        quantity = 0
                        status = 0
                        t1_status = 0
                        t2_status = 0
                        e3 = sl
                        exit_dt.append(df['Date'][i])
                        pro_li.append(cp)
                        exit1.append(e1)
                        exit2.append(e2)
                        exit3.append(e3)
                        e1 = 0
                        e2 = 0
                        e3 = 0
                        cp = 0
                        t1 = 0
                        t2 = 0
            if len(stk_names)>len(exit_dt):
                exit_dt.append("NA")
                pro_li.append("NA")
                exit1.append("NA")
                exit2.append("NA")
                exit3.append("NA")

            #profit_final.append(round((profit*5), 2))
        except:
            pass
            #profit_final.append(0)
    #li.append(profit_final)

stock_dict = {'Stock Name': stk_names, "entry_date" : entry_dt, "exit_date" : exit_dt, "entry_price" : entry_price, "exit_price1" : exit1, "exit_price2" : exit2, "exit_price3" : exit3, "profit" : pro_li}

stock_df = pd.DataFrame(stock_dict)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
stock_df

,Stock Name,entry_date,exit_date,entry_price,exit_price1,exit_price2,exit_price3,profit
0,Adani Enterprises Ltd.,2019-12-16,2019-12-23 00:00:00,213.70,220.11,0,207.29,-1.02
1,Adani Enterprises Ltd.,2020-01-13,2020-02-03 00:00:00,213.20,219.6,225.99,219.0,3.91
2,Adani Enterprises Ltd.,2020-02-10,2020-02-24 00:00:00,243.60,250.91,258.22,237.55,2.17
3,Adani Enterprises Ltd.,2020-04-13,2020-04-20 00:00:00,147.15,151.56,0,142.74,-1.02
4,Adani Enterprises Ltd.,2020-05-18,2020-05-25 00:00:00,145.00,149.35,0,140.65,-1.02
...,...,...,...,...,...,...,...,...
1118,Wipro Ltd.,2022-09-12,2022-09-19 00:00:00,419.45,0,0,406.87,-3.0
1119,Wipro Ltd.,2022-10-03,2022-10-10 00:00:00,409.40,0,0,397.12,-3.0
1120,Wipro Ltd.,2022-10-31,2022-11-21 00:00:00,386.95,398.56,0,387.0,1.0
1121,Wipro Ltd.,2022-11-28,2022-12-05 00:00:00,404.40,0,0,392.27,-3.0
1122,Wipro Ltd.,2023-01-02,NA,396.30,NA,NA,NA,NA

In [ ]:
stock_df.to_csv(r'demo.csv')